.page-layout {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 4fr;
    height: 500px;
    background-color: aliceblue;
    border: 2px solid black;
}

.sidebar {
    display: grid;
    padding: 0%;
    border-right: 2px solid black;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr;
}

